$font-family: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
$primary-color: #046cFF;
// $primary-color: #f0ce84
$secondary-color: #ff8700;


@function set-text-color($color) {
    @if(lightness($color) > 70) {
        @return #000000;
    } @else {
          @return #ffffff;
    }
}

@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);
}