@import "config";
@import "utilities";
@import "buttons";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $light-color;
    font-family: $font-family;
    line-height: 1.6;
}

a {
    color: $light-color;
    text-decoration: none;
}

.showcase {
    background-color: $primary-color;
    color: $primary-color;
    height: 600px;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            list-style-type: none;
        }

        li {
            padding: 15px;
        }

        a {
            color: $light-color;
        }
    }
}

.showcase-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 50%;
    }

    h1 {
        font-size: 50px;
        line-height: 1.2;
    }

    p {
        margin: 20px 0;
    }
}