#app {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 12px #aaa;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  background-color: #f8f9fa;
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
}

li:hover {
  background-color: #e9ecef;
}
